
.header_block
	{
		font-family: 'Days', arial; 
		color: #A92725;
		font-size: 20px;
	}
		
		
		
		
@media screen and (max-width:1200px) {
	.header_block
		{
			font-size: 18px;
		}}
		
@media screen and (max-width:1000px) {
	.header_block
		{
			font-size: 15px;
		}}
		
@media screen and (max-width:800px) {
	.header_block
		{
			font-size: 12px;
		}}
		
		
		
.second_header                                 
	{
		font-family: 'Days', arial; 
		font-size: 20px;
	}
	
.second_header :hover                                
	{
		color: #A92725;
	}

@media screen and (max-width:1200px) {
	.second_header 
		{
			font-size: 18px;
		}}
		
@media screen and (max-width:1000px) {
	.second_header 
		{
			font-size: 15px;
		}}
		
@media screen and (max-width:800px) {
	.second_header 
		{
			font-size: 12px;
		}}	


		
		
		
		
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    td a { 
        font-size: 18px; 
		font-family: arial; 
		color: #555; 
    }}
@media screen and (max-width:1800px) { 
    td a { 
        font-size: 15px;
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1350px) { 
    td a { 
        font-size: 13px; 
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    td a { 
        font-size: 12px; 
		font-family: arial; 
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    td a { 
        font-size: 10px; 
		font-family: arial; 
		color: #555;
    }}
	
	
	
	
	
 td p
	{
		font-size: 13px; 
		font-family: arial;
		color: #555;
	}

	
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    td p { 
        font-size: 18px; 
		color: #555; 
    }}
@media screen and (max-width:1800px) { 
    td p { 
        font-size: 16px; 
		color: #555;
    }}
@media screen and (max-width:1350px) { 
    td p { 
        font-size: 14px; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    td p { 
        font-size: 12px;  
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    td p { 
        font-size: 10px; 
		color: #555;
    }}
	
.description_tovar { 
		color: #555; 
		font-family: arial; 
    }	
	
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    .description_tovar { 
        font-size: 18px; 
    }}
@media screen and (max-width:1800px) { 
    .description_tovar { 
        font-size: 15px;
    }}
@media screen and (max-width:1350px) { 
    .description_tovar { 
        font-size: 13px; 
    }}
@media screen and (max-width:1200px) { 
    .description_tovar { 
        font-size: 12px; 
    }}

@media screen and (max-width:1100px) { 
    .description_tovar { 
        font-size: 10px; 
    }}
	
	
	
	
.type_tovar { 
		color: #555; 
		font-family: arial; 
		font-size: 15px; 
    }	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .type_tovar { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .type_tovar { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .type_tovar { 
        font-size: 12px; 
    }}
@media screen and (max-width:1200px) { 
    .type_tovar { 
        font-size: 10px; 
    }}

@media screen and (max-width:1100px) { 
    .type_tovar { 
        font-size: 8px; 
    }}
	
	

	
.button_creator_section
	{
		font-family: 'Days', arial; 
		color: #A92725;
		background: #eee;
		border: solid 8px #eee; 
		border-radius: 8px;
		font-size: 18px;
	}	


	
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    .button_creator_section { 
        font-size: 17px; 
    }}
@media screen and (max-width:1800px) { 
    .button_creator_section { 
        font-size: 15px;
    }}
@media screen and (max-width:1350px) { 
    .button_creator_section { 
        font-size: 13px; 
    }}
@media screen and (max-width:1200px) { 
    .button_creator_section { 
        font-size: 12px; 
    }}

@media screen and (max-width:1100px) { 
    .button_creator_section { 
        font-size: 10px; 
    }}
	
	
	
	
	
	
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    .jurnal_text{ 
        font-size: 14px; 
    }}
@media screen and (max-width:1800px) { 
    .jurnal_text { 
        font-size: 12px;
    }}
@media screen and (max-width:1350px) { 
    .jurnal_text{ 
        font-size: 10px; 
    }}
@media screen and (max-width:1200px) { 
    .jurnal_text { 
        font-size: 8px; 
    }}

@media screen and (max-width:1100px) { 
    .jurnal_text { 
        font-size: 6px; 
    }}


