

.brd_up
	{
		border-left: solid 2px #eee; 
		border-right: solid 2px #bbb; 
		border-top: solid 2px #eee;
		border-bottom: solid 2px #aaa;
	}
	
.brd_down
	{
		border-left: solid 2px #bbb; 
		border-right: solid 2px #eee; 
		border-top: solid 2px #aaa;
		border-bottom: solid 2px #eee;
		outline: none;
	}
	
	
.product_button
	{
		width: 100%; 
		padding: 5px; 
		background: #ddd;
		vertical-align: center;
		border-left: solid 2px #eee; 
		border-right: solid 2px #bbb; 
		border-top: solid 2px #eee;
		border-bottom: solid 2px #aaa;
	}
	
.product_button:hover
	{
		width: 100%; 
		padding: 5px; 
		background: #ccc;
		vertical-align: center;
		border-left: solid 2px #bbb; 
		border-right: solid 2px #eee; 
		border-top: solid 2px #aaa;
		border-bottom: solid 2px #eee;
	}
	
.product_button div:hover
	{
		opacity: 0.5;
	}
	
.product_button_down
	{
		width: 100%; 
		padding: 5px; 
		background: #ccc;
		vertical-align: center;
		border-left: solid 2px #bbb; 
		border-right: solid 2px #eee; 
		border-top: solid 2px #aaa;
		border-bottom: solid 2px #eee;
	}
	


.thin_up
	{
		border-left: solid 1px #eee; 
		border-right: solid 1px #bbb; 
		border-top: solid 1px #eee;
		border-bottom: solid 1px #aaa;
	}
	
.thin_down
	{
		border-left: solid 1px #bbb; 
		border-right: solid 1px #eee; 
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #eee;
	}
	
	
	
	
.base_button
	{
		color: #555; 
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		background: none; 
		font-family: arial;
		border: none;
		border-left: solid 1px #eee; 
		border-right: solid 1px #bbb; 
		border-top: solid 1px #eee;
		border-bottom: solid 1px #aaa;
		outline: none;
	}
	
.base_button:hover
	{
		color: #888; 
		background: #ccc;  
		border-left: solid 1px #bbb; 
		border-right: solid 1px #eee; 
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #eee;
	}
	
	
	
@media screen and (max-width:3000px) {    /* стиль клавиш панели */
    .base_button{ 
        font-size: 18; 
    }}
@media screen and (max-width:1800px) { 
    .base_button{ 
        font-size: 16;
    }}
@media screen and (max-width:1600px) { 
    .base_button{ 
        font-size: 14; 
    }}
@media screen and (max-width:1200px) { 
    .base_button { 
        font-size: 13; 
    }}

@media screen and (max-width:1100px) { 
    .base_button { 
        font-size: 11; 
    }}
	
	
	
.base_button_down
	{
		color: #888; 
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		border: none;
		background: #ccc;  
		border-left: solid 1px #bbb; 
		border-right: solid 1px #eee; 
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #eee;
		outline: none;
	}
	
@media screen and (max-width:3000px) {    /* стиль клавиш панели */
    .base_button_down{ 
        font-size: 18; 
    }}
@media screen and (max-width:1800px) { 
    .base_button_down{ 
        font-size: 16;
    }}
@media screen and (max-width:1600px) { 
    .base_button_down{ 
        font-size: 14; 
    }}
@media screen and (max-width:1200px) { 
    .base_button_down { 
        font-size: 13; 
    }}

@media screen and (max-width:1100px) { 
    .base_button_down { 
        font-size: 11; 
    }}
	
	

.body_button
	{
		color: #555; 
		padding-top: 3px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		background: none; 
		font-family: arial;
		border: none;
		border-left: solid 1px #eee; 
		border-right: solid 1px #bbb; 
		border-top: solid 1px #eee;
		border-bottom: solid 1px #aaa;
		outline: none;
	}
	
.body_button:hover
	{
		color: #888; 
		background: #ccc;  
		border-left: solid 1px #bbb; 
		border-right: solid 1px #eee; 
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #eee;
	}
	
@media screen and (max-width:3000px) {    /* стиль клавиш в теле */
    .body_button{ 
        font-size: 13; 
    }}
@media screen and (max-width:1800px) { 
    .body_button{ 
        font-size: 11;
    }}
@media screen and (max-width:1600px) { 
    .body_button{ 
        font-size: 9; 
    }}
@media screen and (max-width:1200px) { 
    .body_button { 
        font-size: 7; 
    }}

@media screen and (max-width:1100px) { 
    .body_button { 
        font-size: 7; 
    }}
	
	
	
	
	
	
	
	
.base_select
	{
		color: #555; 
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
		background: #eee; 
		font-family: arial;
		border: none;
		border-left: solid 1px #bbb; 
		border-right: solid 1px #eee; 
		border-top: solid 1px #aaa;
		border-bottom: solid 1px #eee;
		outline: none;
	}
	
@media screen and (max-width:3000px) {    /* стиль клавиш панели */
    .base_select{ 
        font-size: 18; 
    }}
@media screen and (max-width:1800px) { 
    .base_select{ 
        font-size: 16;
    }}
@media screen and (max-width:1600px) { 
    .base_select{ 
        font-size: 14; 
    }}
@media screen and (max-width:1200px) { 
    .base_select { 
        font-size: 13; 
    }}

@media screen and (max-width:1100px) { 
    .base_select { 
        font-size: 11; 
    }}
	
	
	
	
	
	
@media screen and (max-width:3000px) {    /* стиль заголовков панели */
    .head_panel{ 
        font-size: 20; 
		font-family: arial; 
		color: #555; 
    }}
@media screen and (max-width:1600px) { 
    .head_panel{ 
        font-size: 16;
    }}
@media screen and (max-width:1350px) { 
    .head_panel{ 
        font-size: 15; 
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    .head_panel { 
        font-size: 13; 
		font-family: arial; 
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    .head_panel { 
        font-size: 11; 
		font-family: arial; 
		color: #555;
    }}
	
	
	
	
	
@media screen and (max-width:3000px) {    /* стиль заголовков панели */
    #head_panel{ 
        font-size: 20; 
		font-family: arial; 
		color: #555; 
    }}
@media screen and (max-width:1600px) { 
    #head_panel{ 
        font-size: 16;
    }}
@media screen and (max-width:1350px) { 
    #head_panel{ 
        font-size: 15; 
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    #head_panel { 
        font-size: 13; 
		font-family: arial; 
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    #head_panel { 
        font-size: 11; 
		font-family: arial; 
		color: #555;
    }}
	
	
	
	

@media screen and (max-width:3000px) {    /* стиль текстов панели */
    .text_panel{ 
        font-size: 17; 
		font-family: arial; 
		color: #555; 
    }}
@media screen and (max-width:1800px) { 
    .text_panel{ 
        font-size: 13;
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1350px) { 
    .text_panel{ 
        font-size: 11; 
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    .text_panel { 
        font-size: 10; 
		font-family: arial; 
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    .text_panel { 
        font-size: 9; 
		font-family: arial; 
		color: #555;
    }}



	
	

	
@media screen and (max-width:3000px) { 
.center_template { 
        position: relative; 
		width: 63%; 
		background: #fff;
    }}
@media screen and (max-width:1000px) { 
.center_template { 
        position: relative; 
		width: 600px; 
		background: #fff;
    }}
	



	
	
	
@media screen and (max-width:3000px) {    /* стиль текстов таблицы */
    td { 
        font-size: 15; 
		font-family: arial; 
		color: #555; 
    }}
@media screen and (max-width:1800px) { 
    td { 
        font-size: 13;
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1350px) { 
    td { 
        font-size: 11; 
		font-family: arial; 
		color: #555;
    }}
@media screen and (max-width:1200px) { 
    td { 
        font-size: 10; 
		font-family: arial; 
		color: #555;
    }}

@media screen and (max-width:1100px) { 
    td { 
        font-size: 9; 
		font-family: arial; 
		color: #555;
    }}
	
	
	
	
	
