
body
		{
			font-family: 'Days', arial;
		}
		
		
@font-face {
             font-family: 'Days';
			 src: url('days_regular.otf') format('truetype');
			 src: url('days_regular.otf') format('truetype');
			 font-weight: normal;
			 font-style: normal; 			 
           }
		   
		   
		
.font_days
	{
		font-family: 'Days', arial;
		color: #A92725;
	}
.font_days a
	{
		font-family: 'Days', arial;
		color: #A92725;
	}
	
	
.blank
		{
			 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
			 width: 80%; 
			 position: relative; 
			 z-index: 2;
			 background: #ffffff; 
			 padding-top: 70px; 
			 padding-bottom: 40px;
		}
.blank:hover
		{
			z-index: 5;
		}
		
		/* border-bottom: dotted 5px #F7A30A; - для дальнейшего использования */
		
a 
	{
		font-size: 18px;
		font-family: 'Days', arial;
	}

a:hover 
	{
		color: red;
		cursor: pointer;
	}
	
.slide
	{
		position: absolute;
		top: 0px;
		left: 25%;  
		-webkit-transition:all 3s ease-in-out;
		transition: 1.5s;
	}
	
		
	
	
.punkt_menu
	{
		width: 8px; 
		height: 8px; 
		border: solid 2px #A92725; 
		border-radius: 30px;
		z-index: 10;
		transition: 0.1s;
		cursor: pointer;
	}
	
	
	
.tovar_in_table
	{
		top: 0px; 
		left: 6%; 
		width: 80%; 
		transition: 0.2s;
	}
	
	
.offset
	{
		opacity: 0;
	}
		
	
	
	
.modal_window
	{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	}
	
	
	
.modal_window_button
	{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		background: #fff;
		border: none;
		outline: none;
		border-radius: 0px;
		color: #444;
		font-family: arial;
	}
	
.modal_window_button:hover
	{
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		color: #ddd;
	}
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .modal_window_button  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .modal_window_button  { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .modal_window_button  { 
        font-size: 12px; 
    }}
@media screen and (max-width:1200px) { 
    .modal_window_button  { 
        font-size: 10px; 
    }}

@media screen and (max-width:1100px) { 
    .modal_window_button  { 
        font-size: 8px; 
    }}
	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .modal_window input  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .modal_window input  { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .modal_window input  { 
        font-size: 12px; 
    }}
@media screen and (max-width:1200px) { 
    .modal_window input  { 
        font-size: 10px; 
    }}

@media screen and (max-width:1100px) { 
    .modal_window input  { 
        font-size: 8px; 
    }}
	
	
	
	
	
	
.type_icon
	{
		position: relative;
		background: #eee;
		border-radius: 20px 20px 0px 0px; 
		padding: 10px;
		border: none;
		outline: none;
		font-family: arial;
	}
	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .type_icon  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .type_icon { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .type_icon  { 
        font-size: 11px; 
    }}
@media screen and (max-width:1200px) { 
    .type_icon  { 
        font-size: 9px; 
    }}

@media screen and (max-width:1100px) { 
    .type_icon{ 
        font-size: 7px; 
    }}
	
	
.type_icon_select
	{
		background: #bbb;
		border-radius: 20px 20px 0px 0px; 
		padding: 10px;
		color: #fff;
		border: none;
		outline: none;
		font-family: arial;
	}
	
	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .type_icon_select  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .type_icon_select { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .type_icon_select  { 
        font-size: 11px; 
    }}
@media screen and (max-width:1200px) { 
    .type_icon_select  { 
        font-size: 9px; 
    }}

@media screen and (max-width:1100px) { 
    .type_icon_select{ 
        font-size: 7px; 
    }}
	
	
.button_page 
	{ 
		border-radius: 10px;
		background: #eee;
		color: #555; 
		font-family: arial; 
		font-size: 15px; 
		padding-top: 3px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
		outline: none;
    }
	
.button_page:hover
	{
		background: #aaa;
		color: #fff;
	}	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .button_page  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .button_page  { 
        font-size: 13px;
    }}
@media screen and (max-width:1350px) { 
    .button_page  { 
        font-size: 12px; 
    }}
@media screen and (max-width:1200px) { 
    .button_page  { 
        font-size: 10px; 
    }}

@media screen and (max-width:1100px) { 
    .button_page  { 
        font-size: 8px; 
    }}
	
	
.page_select
	{
		border-radius: 10px;
		background: #aaa;
		font-size: 19px;
		font-family: arial;
		color: #fff;
		padding-top: 3px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
		border-style: inset;
		outline: none;
	}
	
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .page_select  { 
        font-size: 19px; 
    }}
@media screen and (max-width:1800px) { 
    .page_select { 
        font-size: 17px;
    }}
@media screen and (max-width:1350px) { 
    .page_select  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1200px) { 
    .page_select  { 
        font-size: 12px; 
    }}

@media screen and (max-width:1100px) { 
    .page_select  { 
        font-size: 10px; 
    }}
	
	

	
.deploy
	{
		width: 90%; 		
		border-top: solid 2px #ddd;
	}
.deploy:hover
	{
		background: #eee;
	}
	
	
.rollup
	{
		width: 90%; 		
		border-bottom: solid 2px #ddd;
	}
.rollup:hover
	{
		background: #eee;
	}
	
	
.search
	{
		position: relative; 
		width: 80%;
		height: 30px; 
		z-index: 25; 
		color: #ccc; 
		border-radius: 10px; 
		padding: 10px; 
		font-family: days; 
		letter-spacing: 3px; 
		outline: none;
	}

.search_resultat 
	{
		width: 80%;
		background: #fff;
		overflow: auto;
		color: #aaa;
		padding: 10px; 
		font-family: days; 
		letter-spacing: 1px;
		z-index: 100;
		font-size: 15px; 
	}
	
@media screen and (max-width:3000px) {    /* стиль текстов - типы товаров */
    .search_resultat  { 
        font-size: 15px; 
    }}
@media screen and (max-width:1800px) { 
    .search_resultat { 
        font-size: 14px;
    }}
@media screen and (max-width:1350px) { 
    .search_resultat  { 
        font-size: 13px; 
    }}
@media screen and (max-width:1200px) { 
    .search_resultat  { 
        font-size: 12px; 
    }}

@media screen and (max-width:1100px) { 
    .search_resultat { 
        font-size: 10px; 
    }}
	
	


.slider_selector
	{
		width: 16px; 
		height: 16px; 
		background: #ddd; 
		border-radius: 20px;
		border: solid 2px rgba(169, 39, 37, 0.5);
		border-style: outset;
	}

.slider_selector:hover
	{
		background: red;
		border-style: inset;
	}
	
.slider_selector_active
	{
		width: 16px; 
		height: 16px; 
		border: solid 2px rgba(169, 39, 37, 0.5);
		border-radius: 20px;
		border-style: inset;
		background: #A92725; 
	}
	
.select_td
	{
		padding-left: 5px;
		padding-right: 5px;
	}
	
	
.slide_style
	{
		position: absolute; 
		top: 0px;
		left: 0px;
		transition: 1s; 
		width: 100%; 
		float: left; 
	}
	
	
	
	
.section_creators
	{
		padding-left: 30px; 
		padding-right: 30px; 
		background: none;
		border: solid 2px rgba(169, 39, 37, 0.5);
		border-radius: 5px;
		border-style: outset;
		outline: none;
	}
.section_creators:hover
	{
		background: rgba(169, 39, 37, 1);
		border-style: inset;
		color: #fff;
	}
	
	
	
.section_creators_active
	{
		padding-left: 30px; 
		padding-right: 30px; 
		background: rgba(169, 39, 37, 1);
		color: #fff;
		border: solid 2px rgba(169, 39, 37, 0.5);
		border-radius: 5px;
		border-style: inset;
		outline: none;
	}
	

.play_stop
	{
		padding-left: 10px; 
		padding-right: 10px; 
		background: none;
		border: solid 2px rgba(169, 39, 37, 0.5);
		border-radius: 20px;
		border-style: outset;
		outline: none;
		font-family: days; 
		color: #A92725;
	}
.play_stop:hover
	{
		border-style: inset;
		background: #A92725;
		color: #fff;
	}
	
	
.kind_of_products_selector
	{
		padding-left: 15px; 
		padding-right: 10px; 
		border: solid 2px rgba(169, 39, 37, 0.5); 
		border-radius: 5px;
		border-style: inset; 
		outline: none;
	}
	

	