<table style = "width: 80%">
	<tr>
		<td>
		
			<div id = "infotext" style = "width: 100%;">
					  
				<p>                                                                                                                                               
				История «Руслады» началась 18 лет назад. Сегодня мы лидеры Урала и Сибири, а в ассортиментной матрице компании – 
				продукция ведущих кондитерских фабрик России и ближнего зарубежья. Сотрудничество по эксклюзивным контрактам, с известными производителями, 
				включая продукцию СТМ. Высокотехнологичное оборудование и опыт профессиональных кондитеров позволяют нашей кондитерской фабрике создавать 
				полюбившиеся требовательному потребителю шедевры 
				сладкой продукции из  натурального сырья под ТМ ««Руслада». 
				</p>
				<br> <br>
				
			</div>
		
		</td>
	</tr>
</table>
