<center>

	<iframe name = "message" style = "position: relative; margin-top: 200px; width: 20%; height: 50px; border: none; z-index: 999;"></iframe>

	<form method = "POST" enctype = "multipart/form-data" action  = "../config/processor_feedback.php" target = "message">
	
		<div style = "position: absolute; top: 0px; left: 0px; width: 100%; height: 100vw; background: #000; opacity: 0.6; z-index: 0;">
		</div>
		
		<div class = "modal_window" style = "position: relative; width: 20%;  background: #eee; z-index: 5; padding: 20px;">
		<table style = "width: 100%;">
			<tr>
				<td>
					<p class = "type_tovar" style = "position: relative;">ФИО</p>
					<input id = "fio" name = "fio" type = "text" value = "" style = "position: relative; width: 90%;  outline: none;" required />
					<br>
					
					<p class = "type_tovar" style = "position: relative;">Город</p>
					<input id = "city" name = "city" type = "text" value = "" style = "position: relative; width: 90%;  outline: none;" required />
					<br>
					
					<p class = "type_tovar" style = "position: relative;">Email</p>
					<input id = "my_email" name = "my_email" type = "text" value = "" style = "position: relative; width: 90%;  outline: none;" />
					<br>
					
					<p class = "type_tovar" style = "position: relative;">Телефон</p>
					<input id = "tele_phon" name = "tele_phon" type = "text" value = "" style = "position: relative; width: 90%;  outline: none;" required />
					<br><br>
					
					<input id = "bufer_current_link" type = "submit" value = "отправить" class = "modal_window_button" style = "position: relative; width: 30%; margin-top: 5%;" /> 
					<input id = "close_form_send" type = "button" value = "выход" onclick = "close_modal_window()" class = "modal_window_button" style = "position: relative; width: 30%; margin-top: 5%;" />
				</td>
			</tr>
		</table>
		<br>
		</div>
		
	</form>
	
</center>