
<center>

<iframe name = "status" width = "30%" height = "30px" style = "border: none;">
</iframe>

		
    <div style = "position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: rgba(0, 0, 0, 0.5);">
		<div class = "brd_up center_template"  style = "position: relative; top: 10%; background: #dddddd;">

			<form method = "POST" enctype = "multipart/form-data" action = "../config/insert_base.php" target = "status">
			
			<div style = "width: 99%; background: #dddddd; margin-top: 10px;" class = "thin_up">
				<br>
				<table style = "margin-left: 20px; width: 96%;">
					<tr>
						<td>
							<a class = "head_panel" id = "head_panel" style = "font-family: arial; float: left;">Редактирование товара</a><br><br>
						</td>
					</tr>
					<tr>
						<td>
							<input type = "text" id = "id_tovar" name = "id_tovar" value = "" style = "width: 5%" class = "brd_down" />
							<input type = "text" id = "name_product" name = "name_product" value = "" class = "brd_down"  />
							<input type = "text" id = "name_company" name = "name_company" value = "" class = "brd_down"  />
						</td>
					</tr>
				</table>
				<br>

				<table style = "margin-left: 20px; width: 96%;" class = "thin_down">
					<tr style = "vertical-align: top;">
						<td class = "thin_up" style = "padding: 10px;">
							<p class = "text_panel">Выберите изображение до 2Mb</p>
							<input type = "file" name = "load_img" id = "load_img" class = "text_panel" />
							
							<p class = "text_panel">Наименование</p>
							<input name = "name_tovar" id = "name_tovar" type = "text" cols = "30"  class = "brd_down" style = "outline: none; width: 90%;" />
						</td>
						<td class = "thin_up" style = "padding: 10px;">
						
							<input id = "copy_name_product" name = "copy_name_product" type = "hidden" value = "" style = "position: relative; z-index: 6;"> 			<!-- скрытые для передачи имени раздела продукции  -->
							<input id = "copy_name_company" name = "copy_name_company" type = "hidden" value = "" style = "position: relative; z-index: 6;">			<!-- скрытые для передачи имени производителя  -->
							
							<p class = "text_panel">Код товара</p>
							<input name = "tovar_code" id = "tovar_code" type = "text" cols = "30"  class = "brd_down" style = "outline: none; width: 90%;" />
							<p class = "text_panel">Штрихкод</p>
							<input name = "barcode" id = "barcode" type = "text" cols = "30"  class = "brd_down" style = "outline: none; width: 90%;" />
						</td>
						<td class = "thin_up" style = "padding: 10px;">	
							<p class = "text_panel">Вес упаковки кг</p>
							<input name = "weight" id = "weight" type = "text" cols = "30"  class = "brd_down" style = "outline: none; width: 90%;" />
						</td>
						<td class = "thin_up" style = "padding: 10px;">	
							<p class = "text_panel">Срок хранения суток</p>
							<input name = "timelimit" id = "timelimit" type = "text" cols = "30"  class = "brd_down" style = "outline: none; width: 90%;" />	
						</td>
						<td class = "thin_up" style = "padding: 10px;">
							<p class = "text_panel">
								<input type = "checkbox" name = "newprod" id = "newprod" class = "thin_down" />Новинка
							</p>
							
							<p class = "text_panel">
								<input type = "checkbox" name = "action" id = "action" class = "thin_down" /> Акция
							</p>
							
							<p class = "text_panel">
								<input type = "checkbox" name = "hide_tovar" id = "hide_tovar" class = "thin_down" /> Скрытый
							</p>
						</td>
					</tr>
				</table>
				
				<br>
				<table style = "margin-left: 20px; width: 96%;">
					<tr>
						<td>
							<a class = "text_panel"  style = "font-family: arial; float: left;">Дополнительные параметры</a><br><br>
						</td>
					</tr>
				</table>
				
				
				<table style = "margin-left: 20px; width: 96%;" class = "thin_down">
					<tr style = "vertical-align: top;">
						<td class = "thin_up" style = "padding: 10px;">
							<input id = "path_image_big" name = "path_image_big" type = "text" class = "brd_down"  /> 	<input 	name = "delete_image_big" 
																																type = "button" 
																																value = "очистить" 
																																class = "brd_up" 
																																style = "outline: none;" 
																																onmouseover = "this.className = 'brd_down'"
																																onmouseout = "this.className = 'brd_up'" 
																																onclick = "document.getElementById('path_image_big').value = 'delete'"/>
							<p class = "text_panel">Изображение товара увеличеное до 2Mb</p>
							<input type = "file" name = "load_img_big" id = "load_img_big" class = "text_panel" /> <br>
						</td>

						<td class = "thin_up" style = "padding: 10px;">
							<input id = "path_image_newprod" name = "path_image_newprod" type = "text" class = "brd_down" /> <input name = "delete_image_newprod" 
																																	type = "button" 
																																	value = "очистить" 
																																	class = "brd_up" 
																																	style = "outline: none;" 
																																	onmouseover = "this.className = 'brd_down'"
																																	onmouseout = "this.className = 'brd_up'" 
																																	onclick = "document.getElementById('path_image_newprod').value = 'delete'"/>
							<p class = "text_panel">Изображение листовки новинка до 2Mb</p>
							<input type = "file" name = "load_img_newprod" id = "load_img_newprod" class = "text_panel" /><br>
						</td>
						
						<td class = "thin_up" style = "padding: 10px;">
							<input id = "path_image_action" name = "path_image_action" type = "text" class = "brd_down" /> 	<input 	name = "delete_image_action" 
																																	type = "button" 
																																	value = "очистить" 
																																	class = "brd_up" 
																																	action = "" 
																																	style = "outline: none;" 
																																	onmouseover = "this.className = 'brd_down'"
																																	onmouseout = "this.className = 'brd_up'" 
																																	onclick = "document.getElementById('path_image_action').value = 'delete'"/>
							<p class = "text_panel">Изображение листовки акция до 2Mb</p>
							<input type = "file" name = "load_img_action" id = "load_img_action" class = "text_panel" /> <br>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td class = "thin_up" style = "padding: 10px;">
							<p class = "text_panel">Выберите тип продукции</p>
							<div id = "select_type">
								
							</div>
						</td>
					</tr>
					
				</table>
				
						<div style = "margin-left: 20px; width: 96%; position: relative; height: 60px; margin-top: 5px; background: #dddddd;" >
							<div class = "thin_down">
								<input  type = "button" value = "выход"  class = "base_button" onclick = "input_delete_close()" style = "float: right; margin-top: 5px;" />
								<input  type = "submit" value = "заменить" class = "base_button" name = "update_pastry" action = "" style = "float: left; margin-top: 5px;" /> 
							</div>
						</div>

				
			</form>

			</div>

		</div>

	</div>
			


</center>


