<center><a style = "font-size: 35px;">Для корректной работы с сайтом, пожалуйста, используйте другой браузер</a><br><br><br><br>
						
						<a style = "font-size: 25px;">Воспользуйтесь ссылками для установки:</a><br><br><br><br>
		
				<table cellpadding = "8px" style = "border: solid 1px #aaa;">
					<tr 	style = "vertical-align: center; cursor: pointer" 
							onmouseover = "this.style.background = \'#eee\'" 
							onmouseout = "this.style.background = \'none\'"
							onclick = "window.location.href = \'http://gooogle-chrome.ru/?yclid=1006404846942429298\'" >
						<td>
							<img width = "20px" src = "images/icon/google-chrome.png">
						</td>
						<td>
							<p>Google Chrome</p>
						</td>
					</tr>
					<tr 	style = "vertical-align: center; cursor: pointer" 
							onmouseover = "this.style.background = \'#eee\'" 
							onmouseout = "this.style.background = \'none\'"
							onclick = "window.location.href = \'https://browser.yandex.ru\'" >
						<td>
							<img width = "20px" src = "images/icon/yandex_brouser.jpg">
						</td>
						<td>
							<p>Yandex brouser</p>
						</td>
					</tr>
					<tr 	style = "vertical-align: center; cursor: pointer" 
							onmouseover = "this.style.background = \'#eee\'" 
							onmouseout = "this.style.background = \'none\'"
							onclick = "window.location.href = \'http://www.opera.com/ru/computer?utm_source=yandex&utm_medium=pa&utm_campaign=Russia_Brand_Search&utm_term=opera%20установить&utm_content=3769838065&yclid=1006548057071034862\'" >
						<td>
							<img width = "20px" src = "images/icon/opera-logo.png">
						</td>
						<td>
							<p>Opera</p>
						</td>
					</tr>
					<tr 	style = "vertical-align: center; cursor: pointer" 
							onmouseover = "this.style.background = \'#eee\'" 
							onmouseout = "this.style.background = \'none\'"
							onclick = "window.location.href = \'https://www.mozilla.org/ru/firefox/new/\'" >
						<td>
							<img width = "20px" src = "images/icon/Firefox_Logo.png">
						</td>
						<td>
							<p>Firefox</p>
						</td>
					</tr>
				</table>
				</center>