<table style = "width: 90%; font-family: arial;"  cellspacing = "20">
						
	<tr>
		<td>
		   <center>
		   <div class = "jurnal_text">ЯНВАРЬ ФЕВРАЛЬ 2019</div>
		   <a href = "../images/action/fabrory_marth_2019.pdf" download>
		   <img src = "../images/action/fabrory_marth_2019.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>
		<td>
		   <center>
		   <div class = "jurnal_text">НОЯБРЬ ДЕКАБРЬ 2018</div>
		   <a href = "../images/action/november_december_2018.pdf" download>
		   <img src = "../images/action/november_december_2018.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>
		<td>
		   <center>
		   <div class = "jurnal_text">СЕНТЯБРЬ ОКТЯБРЬ 2018</div>
		   <a href = "../images/action/september_october_2018.pdf" download>
		   <img src = "../images/action/september_october_2018.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>
		<td>
		   <center>
		   <div class = "jurnal_text">ФЕВРАЛЬ МАРТ 2018</div>
		   <a href = "../images/action/fabrory_mart_2018.pdf" download>
		   <img src = "../images/action/fabrory_mart_2018.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>
		<td>
		   <center>
		   <div class = "jurnal_text">НОЯБРЬ ДЕКАБРЬ 2017</div>
		   <a href = "../images/action/november_december_2017.pdf" download>
		   <img src = "../images/action/november_december_2017.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>
		<td>
		   <center>
		   <div class = "jurnal_text">СЕНТЯБРЬ ОКТЯБРЬ 2017</div>
		   <a href = "../images/action/sentyabr_oktyabr_2017.pdf" download>
		   <img src = "../images/action/sentyabr2017.jpg" style = "width: 90%;" onmouseover = "this.style.opacity = '0.5'" onmouseout = "this.style.opacity = '1'">
		   </a>
		   </center>
	   </td>			   
	</tr>
</table>