			<div id = "roof_baner" class = "blank" style = "width: 80%; z-index: 6;">					<!-- верхний банер -->
				<center>
					<nobr>
					<center>
						<script>
							function reset_class_slider_selector()
								{
									for (i = 1; i <= 8; i++)
										{
											document.getElementById("slider_selector_" + i).className = "slider_selector";
										}
								}
														
							function start_baner_goto_1()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "0%";
								}
							function start_baner_goto_2()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-100%";
								}
							function start_baner_goto_3()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-200%";
								}
							function start_baner_goto_4()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-300%";
								}
							function start_baner_goto_5()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-400%";
								}
							function start_baner_goto_6()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-500%";
								}
							function start_baner_goto_7()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-600%";
								}
							function start_baner_goto_8()
								{
									reset_class_slider_selector();
									document.getElementById("start_baner").style.marginLeft = "-700%";
								}
							
							
						</script>
						<div style = "width: 100%; overflow: hidden;">
							<img id = "start_baner" src = "../images/roof/post_2018.gif" style = "transition: 1s; width: 100%; margin-left: -4px;"  >
							<img src = "../images/roof/entrevista.jpg" style = "width: 100%; margin-left: -4px;" >
							<img src = "../images/roof/sam_samolet.jpg" style = "width: 100%; margin-left: -5px;" >
							<img src = "../images/roof/chudo_zemlya.jpg" style = "width: 100%; margin-left: -4px;" >
							<img src = "../images/roof/obehayka_piony.jpg" style = "width: 100%; margin-left: -5px;" >
							
							<img src = "../images/roof/nabor_assorty.jpg" style = "width: 100%; margin-left: -5px;" >
							<img src = "../images/roof/iris.jpg" style = "width: 100%; margin-left: -4px;" >
							<img src = "../images/roof/karamel_79.jpg" style = "width: 100%; margin-left: -5px;" >
						</div>
					</center>
					</nobr>
					
					<br><br>

				</table>
					<table>
						<tr>
							<td class = "select_td">
								<div id = "slider_selector_1"  class = "slider_selector_active" onclick = "start_baner_goto_1(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_2" class = "slider_selector" onclick = "start_baner_goto_2(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_3" class = "slider_selector" onclick = "start_baner_goto_3(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_4" class = "slider_selector" onclick = "start_baner_goto_4(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_5" class = "slider_selector" onclick = "start_baner_goto_5(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_6" class = "slider_selector" onclick = "start_baner_goto_6(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_7" class = "slider_selector" onclick = "start_baner_goto_7(); this.className = 'slider_selector_active'"></div>
							</td>
							<td class = "select_td">
								<div id = "slider_selector_8" class = "slider_selector" onclick = "start_baner_goto_8(); this.className = 'slider_selector_active'"></div>
							</td>
						</tr>
					</table>
				</center>
			</div>